.about-section {
  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 60px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 63px;
    max-width: 1440px;
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  border-bottom: 1px solid #00e3fd;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
    padding-bottom: 52px;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 74px;
  }
}

.about-text-wrapper {
  @include media(desktop) {
    max-width: 640px;
    margin-top: 17px;
  }
}

.about-title {
  @include media(desktop) {
  }
}

.about-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  @include media(desktop) {
    font-size: 18px;
  }
}

.about-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    min-width: 390px;
    margin: 0;
  }
}
