.features-section {
  @include media(desktop) {
  }
}

.features-bg-wrapper {
  padding-top: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
    position: relative;
  }
}

.features-container {
  @include media(desktop) {
  }
}

.features-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include media(desktop) {
    display: block;
  }
}

.features-text-wrapper {
  @include media(desktop) {
    max-width: 544px;
  }
}

.features-title {
  @include media(desktop) {
  }
}

.features-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #003c66;

  @include media(desktop) {
    font-size: 18px;
  }
}

.features-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    min-width: 358px;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 239px;
  }
}
