.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 100px;
  padding-bottom: 248px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 150px;
    padding-bottom: 80px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.png);
    background-position: bottom 68px right 137px;
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
  }
}

.hero-main-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.2;
  color: #00e3fd;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 72px;
    margin-bottom: 40px;
  }
}

.hero-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  @include media(desktop) {
    font-size: 18px;
    max-width: 544px;
    margin-bottom: 64px;
  }
}

.hero-btn {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: max-content;
  }
}
