.progression-section {
  @include media(desktop) {
  }
}

.progression-bg-wrapper {
  padding-top: 60px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 53px;
    max-width: 1440px;
  }
}

.progression-container {
  @include media(desktop) {
  }
}

.progression-content-wrapper {
  border-bottom: 1px solid #00e3fd;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
    padding-bottom: 37px;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 66px;
  }
}

.progression-text-wrapper {
  @include media(desktop) {
    max-width: 640px;
    margin-top: 27px;
  }
}

.progression-title {
  @include media(desktop) {
  }
}

.progression-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  @include media(desktop) {
    font-size: 18px;
  }
}

.progression-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    min-width: 424px;
    margin: 0;
  }
}
