<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <div class="about-text-wrapper">
          <h2 class="section-title about-title">About The Game</h2>
          <p class="section-subtitle about-subtitle">
            A maze puzzle built on direction and logic.
          </p>
          <p class="about-text">
            Arrows Escape takes the concept of mazes and transforms it into a
            directional puzzle challenge. Instead of walking through paths, you
            control the direction itself. Every arrow influences the next
            movement, and each rotation changes the board. You'll need patience
            and a good eye for detail to master these puzzles.<br />
            It’s relaxing at first — until the maze gets clever.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/about/about-img-desk.png"
            media="(min-width: 1440px)"
            width="390"
            height="373" />
          <source
            srcset="./img/about/about-img-mob.png"
            width="330"
            height="316" />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Screenshot of the game"
            width="330"
            height="316"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
