<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <h2 class="section-title contact-title">Contact</h2>
        <p class="contact-cta-text">Need Help?</p>
        <a href="mailto:info@silentbridge.pro" class="contact-email-link"
          >info@silentbridge.pro</a
        >
        <p class="contact-bottom-text">We welcome feedback and suggestions.</p>
      </div>
    </div>
  </div>
</section>
