<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <div class="features-content-wrapper">
        <div class="features-text-wrapper">
          <h2 class="section-title features-title">Build Your Kingdom</h2>
          <p class="section-subtitle features-subtitle">
            Make sure every island is connected
          </p>
          <p class="features-text">
            Every puzzle throws something different at you, so you've gotta
            really think through each move.<br />
            <br />
            You’re not just placing bridges —<br />
            you’re designing a functional kingdom.<br />
            <br />
            One mistake can isolate an island.<br />
            One smart deduction can unlock the entire board.<br />
            The puzzles are challenging and will encourage you to think outside
            the box.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/features/features-img-desk.png"
            media="(min-width: 1440px)"
            width="358"
            height="592" />
          <source
            srcset="./img/features/features-img-mob.png"
            width="330"
            height="518" />
          <img
            class="features-img"
            src="./img/features/features-img-mob.png"
            alt="Screenshot of the game"
            width="330"
            height="518"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
