<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-content-wrapper">
        <div class="gameplay-text-wrapper">
          <h2 class="section-title gameplay-title">How to Play</h2>
          <p class="section-subtitle gameplay-subtitle">
            Simple Rules, Endless Logic
          </p>
          <p class="gameplay-text">
            Connect numbered islands with bridges matching the number on each
            island<br />
            Maximum 2 bridges between any two islands<br />
            Bridges can’t cross islands or other bridges<br />
            All islands must be connected in one continuous kingdom<br />
            It starts easy.<br />
            Then logic takes over.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/gameplay/gameplay-img-desk.png"
            media="(min-width: 1440px)"
            width="384"
            height="384" />
          <source
            srcset="./img/gameplay/gameplay-img-mob.png"
            width="343"
            height="343" />
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="343"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
