<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <h1 class="hero-main-title">
          Hashi:<br class="hero-title-br" />
          Bridge Puzzles
        </h1>
        <p class="hero-text">
          Become the Island King<br />
          Get really good at connecting those bridges<br />
          So this is Hashi - basically you're connecting islands with bridges,
          and honestly? It's way more addictive than it sounds.<br />
          <br />
          You've gotta connect these islands based on the numbers, making sure
          everyone can get around your little kingdom.<br />
          <br />
          Simple rules.<br />
          Deep logic.<br />
          Endless mastery.
        </p>
        <a
          class="hero-btn"
          target="_blank"
          href="https://play.google.com/store/apps/details?id=com.iyond.game.puzzle.hashi&hl=en&gl=us"
          rel="noopener noreferrer"
          aria-label="Download on Google Play"
        >
          <img
            class="hero-play-img"
            src="./img/hero/hero-play-img.png"
            alt="Google Play"
            width="180"
            height="57"
          />
        </a>
      </div>
    </div>
  </div>
</section>
