<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <h1 class="hero-main-title">
          Guide the arrows.<br />
          Escape the maze.
        </h1>
        <p class="hero-text">
          Arrows Escape – Maze Puzzle makes you really think about your next
          move - one wrong tap and you're stuck. Each level is a compact logic
          test where arrows must be rotated and aligned to create the correct
          escape route. One wrong move can trap you inside the maze. Don't let
          the simple controls fool you - this game gets tricky fast.
        </p>
        <a
          class="hero-btn"
          target="_blank"
          href="https://play.google.com/store/apps/details?id=com.arrows.escape.maze.puzzle&hl=en&gl=us"
          rel="noopener noreferrer"
          aria-label="Download on Google Play"
        >
          <img
            class="hero-play-img"
            src="./img/hero/hero-play-img.png"
            alt="Google Play"
            width="180"
            height="57"
          />
        </a>
      </div>
    </div>
  </div>
</section>
