<section class="section progression-section" id="progression">
  <div class="progression-bg-wrapper">
    <div class="container progression-container">
      <div class="progression-content-wrapper">
        <div class="progression-text-wrapper">
          <h2 class="section-title progression-title">Level Progression</h2>
          <p class="section-subtitle progression-subtitle">
            From Beginner to Architect
          </p>
          <p class="progression-list-text">
            Start with small grids to learn the rules. Advance to:<br />
          </p>
          <ul class="progression-list">
            <li class="progression-list-item">
              <p class="progression-item-text">Larger layouts</p>
            </li>
            <li class="progression-list-item">
              <p class="progression-item-text">Denser island networks</p>
            </li>
            <li class="progression-list-item">
              <p class="progression-item-text">
                Multi-directional bridge planning
              </p>
            </li>
            <li class="progression-list-item">
              <p class="progression-item-text">Expert-level 14x21 puzzles</p>
            </li>
          </ul>
          <p class="progression-text">
            As you get better, the puzzles become more challenging, keeping you
            engaged.
          </p>
        </div>
        <img
          class="progression-img"
          src="./img/progression/progression-img-mob.png"
          alt="Screenshot of the game"
          width="324"
          height="569"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
