<section class="section progression-section" id="progression">
  <div class="progression-bg-wrapper">
    <div class="container progression-container">
      <div class="progression-content-wrapper">
        <div class="progression-text-wrapper">
          <h2 class="section-title progression-title">Level Progression</h2>
          <p class="section-subtitle progression-subtitle">
            From simple paths to complex escapes.
          </p>
          <p class="progression-text">
            Early levels introduce basic arrow rotations and straightforward
            paths. As you progress, puzzles require multi-step planning and
            deeper reasoning. Obstacles become more strategic, and path
            dependencies grow more complex. Starts off easy enough, but man,
            some of the later levels are tough!<br />
            You’ll often find yourself replaying a level just to solve it more
            efficiently.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/progression/progression-img-desk.png"
            media="(min-width: 1440px)"
            width="424"
            height="410" />
          <source
            srcset="./img/progression/progression-img-mob.png"
            width="312"
            height="302" />
          <img
            class="progression-img"
            src="./img/progression/progression-img-mob.png"
            alt="Screenshot of the game"
            width="312"
            height="302"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
